{% extends "base.html" %}

{% block content %}
</br>
<div class="panel panel-default">
      <div class="panel-body">

<h1>{{sites.site_name}}</h1>
<ul class="list-unstyled">
    <li>Publisher: {{ sites.publisher  }}</li>
    <li>Conduit: <a href="/inventory/{{sites.id }}/">{{ sites.preferred_conduit }}</a></li>    
    <li>AOD Wide Deal Available:  {{ sites.is_aod_wide }}</li>
    <li>Price Range: ${{ sites.price_range_min }} - ${{ sites.price_range_max }} cpm </li>
    <li>Spend Minimum: {{ sites.min_spend }} </li>
    <li>Description: {{ sites.site_internal_pov }} </li>
</ul>
  </div>
</div>
{% endblock %}
