
{% extends "base.html" %}

{% block content %}
</br>
<div class="panel panel-default">
     <div class="panel-heading">
    <h3 class="panel-title">Inventory</h3>
  </div>
      <div class="panel-body">
              <ul class="nav nav-tabs">
  <li role="presentation" ><a href="/inventory">Open Exchanges</a></li>
  <li role="presentation" class="active"><a href="#">Direct Publishers</a></li>
  <li role="presentation"><a href="#">Site List Generator (QI)</a></li>
</ul>
    {% if pubs_list %}
 <table class="table table-striped">
        <tr><th>Deals</th><th>Preferred Conduit</th><th>Category</th><th>Price Range</th><th>AOD Wide Avail.</th></tr>
    {% for pub in pubs_list %}
         <tr>
             <td><a href="/deals/{{pub.id }}/">{{ pub.site_name }}</a></td>
             <td>{{ pub.preferred_conduit }}</td>
             <td> {{ pub.iab_category }}</td>
             <td>${{ pub.price_range_min }} - ${{ pub.price_range_max }} cpm</td>
             <td>{{ pub.aod_wide_deals }}</td>
             
         
         </tr>
         
    {% endfor %}
      </table>
{% else %}
    <p>No vendors are available.</p>
{% endif %}  

</div>
</div>
{% endblock %}