{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":1,"column":0},"end":{"row":1,"column":5},"action":"remove","lines":["/.c9/"]},{"start":{"row":1,"column":0},"end":{"row":1,"column":18},"action":"insert","lines":[".c9/metadata/tab23"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":18},"end":{"row":1,"column":18},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1419082154204,"hash":"b331521e67fb82a8ea620604eec8464101d90c14"}